*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body{
  background-color: #000;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
  display: flex;
  justify-content: space-between;
  background-color: rgb(23, 90, 191);
  padding: 20px 30px;
  margin-bottom: 30px;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  list-style: none;
}
li a{
  text-decoration: none;
  color: #fff;
}
h1{
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}