.navbar {
    background-color: bisque;
    color: #000;
    width: 100%;
    height: 80px;
}

.btn {
    background-color: red;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 20px;
}