*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #000;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav{
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: darkslategrey;
  color: #fff;
}
ul{
  display: flex;
  gap: 30px;
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  align-items: center;
}
ul a{
  text-decoration: none;
  color: #fff;
}
.themeBtn{
  background-color: #000;
  color: #fff;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 10px;
  text-transform: capitalize;
  font-weight: 500;
  cursor: pointer;
}