* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

form {
    margin: 20px;
}

input {
    margin: 20px;
    height: 50px;
    padding: 10px;
}

button {
    background-color: burlywood;
    padding: 15px 25px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}