*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #000;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
h1{
  font-size: 40px;
  text-transform: capitalize;
}
button{
  background-color:darksalmon;
  border-radius: 8px;
  border: none;
  padding: 12px 20px;
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
}

.image-wrapper{
  margin: 20px;
}
.img-boxes img{
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.image-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}