* {
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

button {
    padding: 12px 35px;
    background-color: rgb(255, 181, 90);
    font-size: 14px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}