* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}