*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  background-color: #111;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  gap: 30px;
}
input{
  height: 50px;
  width: 250px;
  margin-right: 20px;
  padding: 10px;
}
button{
  background-color: darkgrey;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
}
.center-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
span{
  color: #f00;
}